@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{

/* ### Primary */

--Lime-Green: hsl(163, 72%, 41%);
--Bright-Red: hsl(356, 69%, 56%);

--Facebook: hsl(208, 92%, 53%);
--Twitter: hsl(203, 89%, 53%);
--Instagram: linear-gradient(90deg,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
--YouTube: hsl(348, 97%, 39%);

/* #### Dark Theme */

--Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

/* #### Light Theme */

--Toggle: hsl(230, 22%, 74%);
/* 
### Neutral

#### Dark Theme */

--Very-Dark-Blue-BG: hsl(230, 17%, 14%);
--Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
--Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
--Desaturated-Blue-Text: hsl(228, 34%, 66%);
--White-Text: hsl(0, 0%, 100%);

/* #### Light Theme */

--White-BG: hsl(0, 0%, 100%);
--Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
--Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
--Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
--Very-Dark-Blue-Text: hsl(230, 17%, 14%);


--clr-background-top: var(--Very-Pale-Blue-Top-BG-Pattern);
--clr-background: var(--White-BG);
--clr-blue-card-BG:var(--Light-Grayish-Blue-Card-BG);
--clr-blue-text:var(--Dark-Grayish-Blue-Text);
--clr-text:var(--Very-Dark-Blue-Text);
--clr-active:hsl(227, 22%, 84%);
--clr-toggle:var(--Toggle);
/* ### Body Copy */

--Font-size-Overview-Card-Headings: 14px;
--ff-inter: 'Inter', sans-serif;
--fw-regular:400;
--fw-bold:700;

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--ff-inter);
    font-weight: var(--fw-regular);
}

body {
    background-image: linear-gradient(180deg, var(--clr-background-top) 15rem, var(--clr-background) 15rem 100%);
    background-repeat: no-repeat;
}

        /*Header contains title and toggle button */

header {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 2rem;
}
    .title {
        font-weight: var(--fw-bold);
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: var(--clr-text);
    }

.small-text {
    font-weight: var(--fw-bold);
    font-size: 14px;
    color: var(--clr-blue-text);
}

    /* toggle switch styling is in switchStyle file  */

.toggle-container {
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid hsl(228, 12%, 44%,0.3);
}

    /* mobile first approch is used in styling layout 
        styling for desktop and tablet is done in 
        media queries file media.css*/

main {
    width: 90%;
    margin-inline: auto;
    padding-bottom: 4rem;
}

    /* Top four cards styling which contain information about followers*/

.followers-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
}
    /* styling applied to individual cards */
    .followers-grid >div {
        padding: 2rem;
        background-color: var(--clr-blue-card-BG);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border-radius: 5px;
    }
    .followers-grid >div:hover{
        cursor: pointer;
        background-color: var(--clr-active);
    }
    /* Styling top border of individual cards to their specific color */
        .followers-grid .fb {
            border-top:4px solid var(--Facebook);
        }
        
        .followers-grid .twitter {
            border-top:4px solid var(--Twitter);
        }
        /* styling instagram border is a bit difficult as it have a linear gradient 
            althoug this solution is not perfect but it works for the time being */
        .followers-grid .insta {
            border-width: 3px;
            border-bottom-width:0;
            border-style: solid;
            border-image: 
            linear-gradient(90deg,
            hsl(37, 97%, 70%),
            hsl(329, 70%, 58%) ) 1 1 100%;
        }
        .followers-grid .youtube {
            border-top:4px solid var(--YouTube);
        }

        /* cards inside styling top row contains log with name  */
    .logo-with-name {
        display: flex;
        gap: 0.5rem;
    }  
        i {
            font-size: 1.2rem;
        }
        /* coloring invidual logos according to their specific color scheme */
        .fb i {
            color: var(--Facebook);
        }
        .twitter i {
            color: var(--Twitter);
        }
        /* coloring insta logo is a bit different */
        .insta i {
            -webkit-background-clip: text;
            background-clip: text;
            background-image: var(--Instagram);
            color: transparent;
        }
        .youtube i {
            color: var(--YouTube);
        }
    
        .profile-name {
            color: var(--clr-blue-text);
            font-weight: bold;
            font-size: 14px;
        }
        
        /* styling large text of number of followers */
    .num-of-followers {
        font-size: 3.5rem;
        font-weight: bold;
        color: var(--clr-text);
    }

    .followers-text {
        margin-top: -20px ;
        color: var(--clr-blue-text);
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    /* number of followers today and an image is placed befor theis element 
        to indicate the trend  */
    .num-of-followers-today {
        color: var(--Lime-Green);
        font-size: 0.8rem;
        font-weight: bold;
    }
        .num-of-followers-today::before {
            content: url(../images/icon-up.svg);
            margin-right: 5px;
        }
    .down .num-of-followers-today {
        color: var(--Bright-Red);
    }
        .down .num-of-followers-today::before{
            content: url(../images/icon-down.svg)
        }

        /* overview of likes and views section*/
.overview-heading {
    color: var(--clr-blue-text);
    font-weight: bold;
    margin-top:4rem;
    margin-bottom:1rem;
}

.overview-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
}
    .overview-grid >div {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
        background-color: var(--clr-blue-card-BG);
        padding: 1.5rem;
        border-radius: 5px;
    }
    .overview-grid >div:hover {
        cursor: pointer;
        background-color: var(--clr-active);
    }
        .overview-grid >div i {
            font-size: 1.5rem;
            justify-self: end;
        }
        .overview-grid >div .today-like-views {
            color: var(--clr-text);
            font-size: 2rem;
            font-weight:var(--fw-bold);
        }
        .overview-grid >div .num-of-followers-today {
            justify-self: end;
            align-self: end;
        }
/* styling attribution */
footer {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--clr-text);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
